* { 
  margin:0; 
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(208,208,208,1) 53%, rgba(152,152,152,1) 100%);
}

i {
  margin: 1px 60px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

#container {
  margin: auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#skills {
  margin-top: 10%;
  text-align: center;

  font-size: 7vw;
}

.console-container {
  text-align: center;
  height: 6vw;
  font-size: 6vw;
  color: white;
}